**01236265 Data Analytics**
by Asst.Prof.Dr.Thanavit Anuwongpinit 
for IoT & Information Engineering Student**

*** Lab & Lecture 4 : Data Manipulation and basic concept of pandas lib***

Data Manipulation คือกระบวนการเปลี่ยนแปลง แก้ไข ปรับปรุง หรือจัดรูปแบบข้อมูลให้อยู่ในสภาพที่พร้อมสำหรับการใช้งานต่อ โดยอาจเป็นการลบ เพิ่ม คัดเลือก รวม หรือแปลงข้อมูลจากรูปแบบหนึ่งไปสู่อีกรูปแบบหนึ่ง โดยในมุมของ Data Analytics ถือเป็น Data Preparation Stage ซึ่งเป็นขั้นตอนก่อนการทำ Data Analysis หรือ Machine Learning

Pandas หรือ Panel Data สร้างโดย Wes McKinney คือ ไลบลารีที่ใช้สำหรับจัดการ “Dataframe” หรือพูดง่าย ๆ คือ เหมือนตารางที่มีแถวและคอลัมน์ (คล้าย ๆ Excel) เป็นรูปแบบหนึ่งของ Python สามารถจัดการจากโครงสร้างข้อมูลของไพธอน อย่าง ลิสต์หรือดิกชันนารีได้ จึงได้รับความนิยมเป็นอย่างมาก ทำให้สามารถจัดการ เข้าถึง เรียกใช้ข้อมูลได้ง่ายขึ้นในงานทางด้าน Data Science, Data Mining หรือ Machine Learning ได้เป็นอย่างดี
การใช้งาน pandas ต้องติดตั้งด้วยคำสั่ง pip install pandas
(**หากใช้งาน anaconda3 : Jupyter Notebook version ปัจจุบันจะติดตั้งมาให้แล้ว เช่นเดียวกันกับ Google Colab)

Dataset:  https://gist.githubusercontent.com/clairehq/79acab35be50eaf1c383948ed3fd1129/raw/407a02139ae1e134992b90b4b2b8c329b3d73a6a/winemag-data-130k-v2.csv
ภาพรวมคำสั่ง (Cheat Sheet) ของ pandas : https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
หมายเหตุ* เอกสารนี้ส่วนหนึ่งนำมาจาก Kaggle : https://www.kaggle.com/learn/pandas

In [2]:
import numpy as np
import pandas as pd

ModuleNotFoundError: No module named 'numpy'

1) การสร้าง อ่าน และเขียน Data Frame(Creating, Reading and Writing Data Frame)
DataFrame คือตาราง ประกอบด้วยอาร์เรย์ของแต่ละ Entry ในแต่ละ Entry ก็จะมีค่า (Value) ตามแต่ละแถวและคอลัมน์ โดยคำสั่งที่จะใช้สร้าง DataFrame object ขึ้นมา คือ pd.DataFrame(data, index, column, dtype)
โดยที่ 	data คือชุดข้อมูลที่ต้องการจะนำไปสร้างเป็น Data Frame อาจเป็น dictionary, list, tuple หรือ ndarray ของ numpy ก็ได้
	Index คือ ลำดับแถว อาจกำหนดเป็นตัวเลข,สตริง ได้ หากไม่ระบุจะเป็น 0,1,2,3,... ไปเรื่อย ๆ
	Column คือ ชื่อของแต่ละคอลัมน์ อาจกำหนดในรูปแบบ List หรือ Tuple หากไม่ระบุจะเป็น 0,1,2,3,…. 
	Dtype คือ ชนิดข้อมูลที่เราจัดเก็บในแต่ละคอลัมน์ หากกำหนด dtype ข้อมูลทุกตัวต้องเป็นชนิดเดียวกันตามที่ระบุทั้งหมด โดยจะมี int64, float64, object, bool, datetime64, datetimedelta

In [1]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
#เช่น “Row : 0, Column : No” Entry นี้มีค่า 131

NameError: name 'pd' is not defined

In [ ]:
#ใน Entry ไม่จำเป็นต้องเป็นจำนวนเต็มอย่าง สามารถเป็นค่า String ก็ได้ เช่น
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']})

In [ ]:
#โดยปกติแล้ว dictionary-list จะกำหนดค่าของ column labels 
#หรือค่า index แต่ละแถวให้ให้เริ่มต้นจาก 0 (0,1,2,3,...) แต่สามารถกำหนดค่าของ index ให้ได้ เช่นคำสั่ง
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

ในการใช้ Pandas จะมีข้อมูล object อีกรูปแบบหนึ่งนอกจาก DataFrame คือ Series
Series เป็นการจัดเรียงรายการข้อมูลแบบหนึ่งมิติ เหมือนกับโครงสร้างแบบ List ของภาษา Python คือมี Index กับ Value แต่ จะเป็นเสมือนการอ้างอิง value กับ index ในแต่ละแถว value อาจเป็น string, ตัวเลข ก็ได้ มีรูปแบบ คือ pd.Series(data, index, name, dtype)

In [ ]:
pd.Series([1, 2, 3, 4, 5])

In [ ]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5])

In [ ]:
s1.mean()

In [ ]:
s1.max()

In [ ]:
s2 = pd.Series(["A", "B", "C"])

In [ ]:
s2

In [ ]:
df = pd.DataFrame({"name":s2, "working_years":s1})

In [ ]:
df

In [ ]:
type(df)

In [ ]:
type(s1)

In [ ]:
df["name"]

In [ ]:
type(df["name"])

In [ ]:
df[["name"]]

In [ ]:
type(df[["name"]])

1.3 การอ่านค่าจากไฟล์ CSV
	CSV คือ Comma-Seperated Values เป็นไฟล์ตารางที่เก็บค่าต่าง ๆ ที่แยกกันด้วยเครื่องหมาย commas : , 
	ในการอ่านไฟล์ จะใช้คำสั่ง pd.read_csv()
    คำสั่งนี้มี attribute ให้เลือกอ่านมาจำนวนมาก ศึกษาได้จาก : https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/lju-lazarevic/wine/master/data/winemag-data-130k-v2.csv")

In [ ]:
df

สำคัญ คือ ต้องกำหนด Directory ให้ถูกต้อง ถ้าโดยทั่วไปแล้ว สามารถเก็บไว้ใน Directory เดียวกันกับไฟล์ที่เรากำลังการเขียนโค้ด สามารถกำหนด ไปได้ทันที เช่น df = pd.read_csv(‘mydata.csv’) 
นอกจากนี้ ยังสามารถเรียกข้อมูลมาจากไฟล์แบบ อื่น ๆ ได้ เช่น excel file, HTML Table, JSON format 
ตัวอย่าง การเรียกจากไฟล์ html เช่น 
Data_path = https://data.go.th/dataset/49f4f6bc-b664-4b32-a206-d80e8d356e68/resource/f50cedc9-8486-422a-bb57-90a86135643e/download/webapp_research.csv
df = pd.read_csv(Data_path)

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.tail()

In [ ]:
df.sample()

In [ ]:
df.info()

2. การเข้าถึง การเลือกและการกำหนดข้อมูล (Indexing, Selecting & Assigning)
Python นั้นมีการเข้าถึง index ต่าง ๆ ใน object ได้ง่าย โดยในที่นี้ สามารถเข้าถึง property ของ object ได้ เช่นจากตัวอย่าง อยากเข้าถึงคอลัมน์ Country สามารถใช้คำสั่งได้

In [ ]:
df.country

หรือใช้การเข้าถึงรูปแบบคล้ายๆ Dictionary ได้ ด้วย indexing operator ( [ ] ) เช่น หากต้องการเข้าถึงหรือต้องการแสดงผลข้อมูลเฉพาะคอลัมน์ country จะใช้คำสั่ง ดังนี้

In [ ]:
df["country"]

In [ ]:
df[["country"]]
#ต่างกับด้านบน อย่างไร ?

In [ ]:
df[["country","points","taster_name"]]

In [ ]:
#หรือจะเลือกเฉพาะ index ของคอลัมน์ก็ได้ เช่น ต้องการเลือกข้อมูลที่ index ที่ 0 ของคอลัมน์ country ใช้คำสั่ง 
df['country'][0]

df[ลำดับคอลัมน์][ลำดับแถว]
rows selection
Indexing operator และการเลือกคอลัมน์หรือแอททริบิวต์ เพื่อใช้ในการวิเคราะห์ข้อมูลหรือกำหนดข้อมูลทำอะไรต่าง ๆ สามารถใช้คำสั่ง loc และ iloc 
โดย loc จะเป็นการเลือกแถวหรือคอลัมน์
และ iloc จะเป็นการเลือก index ของแถวหรือคอลัมน์ ใช้ตัวเลขตำแหน่งแถวและคอลัมน์ (เริ่มจาก 0) ที่เป็นตัวเลขแถวจริงๆ
ทั้ง loc และ iloc คือแบบ “row-first, column-second’’

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0]]

Operator (:) คือ “everything” (เลือกทั้งหมด) หรือเรียกว่า “Index Slicing” โดยมีหลักการคือ df[start : stop : step]
เช่น หากต้องการเลือกแถวสามแถวแรก (:3) และเลือกคอลัมน์แรก (0 ข้างหลัง)

In [ ]:
df.iloc[:,0]

In [ ]:
df.iloc[:3, :2]

In [ ]:
df.iloc[1:3,0]

In [ ]:
#หรืออีกแบบหนึ่ง ใช้ iloc เลือกแถวที่ index 0,1,2 และคอลัมน์แรก (0) 
df.iloc[[0,1,2],0]

In [ ]:
df.iloc[-5:]

Label-based selection

In [ ]:
df.loc[0]

In [ ]:
df.loc[0,'country']

In [ ]:
df.loc[[0]]

In [ ]:
df.loc[1,['country','points']]

In [ ]:
df.loc[[1],['country','points']]

In [ ]:
df.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

2.3 การจัดการ Index (Manipulating the index)
	Index สามารถจัดการด้วยคำสั่ง set_index() 
เช่น ต้องการให้ title เป็น index ของ Data Frame นี้ จะใช้คำสั่ง

In [ ]:
df.set_index("title")

2.4 การเลือกตามเงื่อนไข (Conditional Selection)
	จากการทำการ indexing นั้น เราสามารถนำผลลัพธ์ที่ได้จากการเลือกแอททริบิวต์ที่สนใจ มาทำการตรวจสอบเงื่อนไขได้ ตัวอย่าง เช่น หากต้องการตรวจสอบรายละเอียดไวน์ที่ผลิตจาก Italy

In [ ]:
df.country == 'Italy'

การใช้ Operation แบบนี้แสดงออกมาเป็น Boolean (True/False) หมายถึง แต่ละแถวมี Italy หรือไม่ ? 
 Operation นี้ จะใช้ตรวจสอบว่าแต่ละ record หรือแต่ละแถว เป็น Italy หรือไม่ด้วย loc

In [ ]:
df.loc[df.country == 'Italy']

เราสามารถใช้คำสั่ง and ด้วยเครื่องหมาย ampersand ( & ) หรือคำสั่ง or ด้วยเครื่องหมาย pipe ( | ) ได้
เช่น หากต้องการทราบไวน์อิตาลีและได้คะแนน (points) มากกว่า 90 จะใช้คำสั่ง

In [ ]:
df.loc[(df.country == 'Italy') & (df.points >=90)]

หากต้องการทราบไวน์อิตาลี หรือ ไวน์ที่ได้คะแนน (points) มากกว่าหรือเท่ากับ 90 จะใช้คำสั่ง

In [ ]:
df.loc[(df.country == 'Italy') | (df.points >=90)]

In [ ]:
df.head()

In [ ]:
df[["country"]]

In [ ]:
df["country"] = 'Italy'

In [ ]:
df.head()
#แทนค่าทุกค่าในคอลัมน์ country เป็น Italy หมด !!

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/lju-lazarevic/wine/master/data/winemag-data-130k-v2.csv")

In [ ]:
df.head()

In [ ]:
df[df['country'] == 'Italy']

df['country'] == 'Italy' → เป็นการสร้างเงื่อนไขที่คืนค่า True สำหรับแถวที่มีค่า country เท่ากับ "Italy"
df[df['country'] == 'Italy'] → ใช้เงื่อนไขที่ได้มาเพื่อเลือกเฉพาะแถวที่มีค่า True

In [ ]:
df[df["country"]=='Italy'][["price","province", "title"]]

In [ ]:
df.head()

การใช้คำสั่ง isin เป็นการเลือก
เช่น การตรวจสอบว่ามีไวน์จากอิตาลีหรือฝรั่งเศส หรือไม่

In [ ]:
df.loc[df.country.isin(['Italy','France'])]

หรือใช้คำสั่ง notnull เพื่อตรวจสอบข้อมูลที่ไม่มึค่า null 
เช่น นำไวน์ที่ไม่มี price tag ออกไป

In [ ]:
df.loc[df.price.notnull()]

นอกจากนี้ ยังสามารถกำหนดข้อมูล (Assigning Data) ให้ได้ เช่น

In [ ]:
df['description'] = 'details'

In [ ]:
df['description']

การลบแถวและคอลัมน์ 
การลบคอลัมน์ด้วยคำสั่ง .drop()

In [ ]:
df.head()

In [ ]:
df.drop(2)

In [ ]:
df.head()

In [ ]:
df.drop(4, inplace=True)

In [ ]:
df.head()

In [ ]:
df.drop('country', axis=1)

In [ ]:
df[['country','points']]

In [ ]:
df.loc[0,'country'] = 'Thailand'

In [ ]:
df[['country','points']]

In [ ]:
df.loc[[1,2],'country'] = 'Thailandzzz'

In [ ]:
df.head()

In [ ]:
df.loc[[1,2],['country','points']] = 'MODIFIED'

In [ ]:
df.head()

reload again !

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/lju-lazarevic/wine/master/data/winemag-data-130k-v2.csv")

3. Summart Functions and Maps
Pandas มีฟังก์ชันสำหรับช่วยในการสรุปข้อมูลต่าง ๆ เช่น จำนวน ค่าเฉลี่ย ค่าสูงสุด ฯลฯ เพื่อช่วยในการรวบรวมข้อมูล เช่น คำสั่ง describe() เช่น ในกรณีนี้ต้องการทราบ summary ของ คะแนนของไวน์

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.points.describe()

In [ ]:
df.country.describe()

In [ ]:
df.points.mean()

In [ ]:
df.points.sum()

In [ ]:
df.points.median()

In [ ]:
df.points.mode()

In [ ]:
df.points.std()

In [ ]:
df.points.max()

In [ ]:
df.points.min()

In [ ]:
df.points.abs()

คำสั่งที่ต้องการ unique value ด้วย .unique() หรือในคอลัมน์นั้น ๆ มีชื่อเฉพาะ หรือค่าเฉพาะ ค่าใดบ้าง 
หรือคำสั่งในการนับจำนวน ด้วย value_counts() เช่น ต้องการนับจำนวนชื่อผู้ชิมไวน์ (taster_name) 
คำสั่ง Maps ใช้สำหรับในการ Transformation ข้อมูล เช่นต้องการทราบคะแนน (point) ของไวน์ที่ได้รับว่าต่างจาก mean แค่ไหน เช่น

In [ ]:
df.taster_name.unique()

In [ ]:
df.taster_name.value_counts()

In [ ]:
review_points_mean = df.points.mean()
df.points.map(lambda p: p - review_points_mean)

คำสั่ง .apply() จะใช้ในการแปลงข้อมูลในแต่ละคอลัมน์

In [ ]:
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

df.apply(remean_points, axis='columns')

In [ ]:
df.head()

In [ ]:
#Reload Again 
df = pd.read_csv("https://raw.githubusercontent.com/lju-lazarevic/wine/master/data/winemag-data-130k-v2.csv")

In [ ]:
import numpy as np
np.log10(1000)

In [ ]:
df["points"]

In [ ]:
df["points"].apply(np.log10)

In [ ]:
df.points.apply(np.sqrt)

4. Grouping and Sorting
4.1 Groupwise 
	เนื่องจาก Data Frame เป็นข้อมูลแบบสองมิติที่อาจมีมากกว่าหนึ่งคอลัมน์ บางครั้งอาจมีบางคอลัมน์ที่ข้อมูลซ้ำซ้อนกัน ซึ่งสามารถนำมาจัดกลุ่มได้ และอาจใช้มากกว่าหนึ่งคอลัมน์ โดยใช้ฟังก์ชัน groupby() ในการจัดกลุ่ม และยังสามารถตามด้วยฟังก์ชันทางสถิติต่าง ๆ (sum(), count(), mean(), min(), max() ) เพื่อให้ได้ผลลัพธ์ตามที่ต้องการ
ตัวอย่าง จากคำสั่ง groupby() และ value_counts
Groupby จะใช้สร้างกลุ่มของ review ที่มีคะแนนเหมือนกัน จากนั้นในแต่ละ group จะแสดงว่ามีจำนวนเท่าไหร่ที่มีคะแนนเหมือนกันในอีกคอลัมน์ หนึ่ง
เช่นเดียวกัน สามารถจับกลุ่ม เช่น หาราคาไวน์ที่ถูกที่สุดในแต่ละคะแนน (points)

In [ ]:
df.groupby('points').points.count()

In [ ]:
df.groupby('points').price.min()

In [ ]:
df.groupby('country').price.min()

In [ ]:
df.groupby(['country','points']).price.min()

In [ ]:
#คำสั่ง .agg() ทำให้เรียกใช้ฟังก์ชันต่าง ๆ เช่น จำนวน ค่าน้อยสุด มากสุด ได้ เช่น 
df.groupby(['country']).price.agg([len, min, max])

In [ ]:
countries_reviewed = df.groupby(['country', 'province']).description.agg([len])
countries_reviewed

4.2 การจัดเรียงข้อมูล (Sorting)
	ข้อมูลจากการทำ groupby อาจไม่ได้ทำการเรียงลำดับมาก่อน การใช้คำสั่ง sort_values() จะช่วยในการเรียงลำดับ ได้ เช่น

In [ ]:
#SORTING
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

ปกติแล้ว default จะเป็นแบบ ascending (น้อยไปมาก) เราสามารถเปลี่ยนเป็น descending (มากไปน้อย) ได้โดยชึ้คำสั่ง ascending = False ตัวอย่าง เช่น

In [ ]:
countries_reviewed.sort_values(by='len', ascending=False)

In [ ]:
#การ Sort ตาม index สามารถทำได้ ด้วยคำสั่ง sort_index() 
countries_reviewed.sort_index()

In [ ]:
#และยังสามารถ sort ได้มากกว่าหนึ่งคอลัมน์ เช่น ต้องการเรียงลำดับตามประเทศ (country) และ len
countries_reviewed.sort_values(by=['country', 'len'])

5. Data Types and Missing Value
5.1 Dtype 
	ชนิดของข้อมูลในแต่ละคอลัมน์ของ DataFrame ตรวจสอบได้ด้วยคำสั่ง dtype เช่น

In [ ]:
df.price.dtype

In [ ]:
df.dtypes

In [ ]:
#การเปลี่ยนหน่วยของ data type ด้วย astype() เช่น
df.points.astype('float64')

In [ ]:
df.index.dtype

5.2 Missing Data
	Entries ที่ไม่ปรากฏข้อมูลหรือข้อมูลที่หายไปจะแสดง NaN ขึ้นมา (Not a Number) 
	คำสั่งที่ใช้ตรวจสอบว่ามี NaN ใน pandas ใช้คำสั่ง pd.isnull() (ถ้าตรวจว่าไม่ใช่ NaN จะเป็นคำสั่ง pd.notnull()

In [ ]:
df[pd.isnull(df.country)]

In [ ]:
#NaN สามารถแก้ไข เปลี่ยนแปลง ด้วยคำสั่ง เช่น .fillna(“ค่าที่ใส่ไปแทน”) เช่น 
df.region_2.fillna("Unknown")

In [ ]:
#หรือการ replace() แทนที่คำที่ต้องการเช่น ต้องการเปลี่ยน twitter handle จาก @kerinokeefe to @kerino 
df.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

In [ ]:
df.loc[:,"taster_twitter_handle"]

In [ ]:
df.loc[df.taster_twitter_handle == '@kerino']

6. Rename and Combining
6.1 Renaming
	การแก้ไขชื่อของคอลัมน์ด้วยคำสั่ง rename() เช่น ต้องการเปลี่ยน points เป็น score

In [ ]:
df.rename(columns={'points': 'score'})

In [ ]:
#สามารถเปลี่ยนชื่อ index ได้ เช่น เปลี่ยน index 0 เป็น firstEntry และ 1 เป็น secondEntry
df.rename(index={0: 'firstEntry', 1: 'secondEntry'})

In [ ]:
df.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns')

In [ ]:
#Export
df.to_csv("new_superwine.csv")